<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.onbelay.lunchbox"
        versionCode = "10"
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Lunch[BOX]</name>

    <description>
        Redpoint Audio lunchbox.
    </description>

    <author href="https://www.redpointaudio.com" email="info@redpointaudio.com">
        Joshua Burkhalter
    </author>

    <icon src="icon.png"/>
    <gap:splash src="splash.png"/>
    <preference name="SplashScreenDelay" value="10000" />

    <gap:platform name="android" />

</widget>
